<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
 	
    <title>Alumini Tracking System.</title>
     <link rel="icon" href="/images/logo.png" type="image/gif" sizes="16x16"> 
    <style type="text/css">
    	
    	
    .top2{
    	    
    	    font-size:25px;
    	    margin-right:260px;
    	    font-size:1.8em;
    	    
    	
    	}
    	
    .white{
           color:#1c868b;
     
     }
     .allitems{
           padding:5em;
           margin-top:100px;
           margin-bottom:70px;
     
     }
      .pank{
           color:white;
     
     }
     .pank2{
     
     text-shadow: 1px 1px 1px black,
             2px 2px 1px black;
     }
      .top2{
    	    
    	    font-size:15px;
    	  
    	   
    	    
    	
    	}
    	.top3{
    	    
    	    font-size:25px;
    	  
    	   
    	    
    	
    	}
    </style>
     
     <body style="background-color:#1ac5d6">
     
  <!-- Just an image -->

 <nav class="navbar navbar-expand-lg navbar-light" >
	<a class="navbar-brand" href="/user/home"  style="padding-left:100px;">
      <img  src="/images/logo.png" width="100" height="100" class="d-inline-block align-center  alt="" loading="lazy">
         
    </a>
  <a class="navbar-brand top3 " href="#"><span >Alumini Tracking System </span><br>Welcome To The Dashboard <br><span class="top2"></span></a>
   
 
  

</nav>
   <!-- Navbar content -->
  <nav class="navbar navbar-expand-lg    " style="background-color: #9c788e;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
      <span style="background-color:#1ac5d6;" class="navbar-toggler-icon" ></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0" >
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/user/home" style="padding-left:70px;color:black;">Home</a>
        </li>
        
       
       
        
       
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false" style="color:black;"> 
            People
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:#9c788e;">
            <li><a class="dropdown-item" href="/user/alumini">Alumini</a></li>
            
          </ul>
        </li>
        <li class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false" style="color:black;">
            More
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:#9c788e;">
            <li><a class="dropdown-item" href="/user/postme" >Update Profile Pic</a></li>
            
          </ul>
        </li>
       
        
        <li class="nav-item">
          <a class="nav-link" href="/user/chat" style="color:black;">Chat</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/user/message" style="color:black;">Send Message</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/event" style="color:black;">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/notish" style="color:black;">Notish</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="http://www.gmail.com" style="color:black;">Webmail</a>
        </li>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/user/logout" style="color:black;">Logout</a>
    </li>
    <form method="post" action="/user/search" style="margin-left: 200px;">
      <input type="text" size="20" name="query"></textarea>
      <input type="submit" value="Search Alumini" class="submitButton" ">
   </form>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
        </li>
      </ul>
     
      
    </div>
  </div>
</nav>
   <!-- Navbar content -->
     <div class="container-fluid" style="padding: 10em; background-image:url(/images/mak.png);background-position:center;background-size:cover;background-repeat:no-repeat">
   
  
   </div>
  <!-- crosel content -->
  
<!-- crosel content -->
  <!-- crosel content -->
 
    <!-- add content -->
   
  <div class="container-fluid " style="background-color:#1ac5d6">
    <% if( user){ %>
    <div class="row align-items-start">
      <div class="col-sm-3">
        <img src="/upload/<%= user.userImage %>" class="img-thumbnail mx-auto mt-5 mb-5 d-block" alt="..." width="150px" height="150px">
      </div>
      <div class="col-sm-4">
      <p style="margin-top:60px;"><strong><%= user.fullname %> </strong><br>
        <%= user.username %><br>
        <%= user.age %><br><br>
  
  <b>eMail:</b><%= user.email %><br>
  <a href="#">View Profile</a>
                  </p>
      </div>
      
   </div>
   <% } %>
  </div>
  
  
  <div class="footer page-header">
              <hr>
              <p class="mute" style="margin-left:500px;">2020 ©</p>
  </div>
  
    
<!-- thumbnail content -->
    <!-- Optional JavaScript -->
    <!-- Popper.js first, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
  </body>
</html>
