<%- include('./partials/header.ejs')%>
   <!-- Navbar content -->
     
   
  
  
  <!-- crosel content -->

	<section>
		<div class="gap no-gap" style="margin-left: 250px;">
			<div class="event-detail">
				<div class="blog-image">
					
				<div class="event-meta">
					<div class="event-timing">
                        <h5>welcome to <%= event.name %></h5><br><br>
						<a href="#" title="" class="postdate"><%=event.date %> <span><%= event.month %></span> <%= event.year %></a>
						<h5><i class="lni lni-timer"></i> From: <span><%= event.time %>: <%= event.clock %></span></h5>
						
					</div>
					
  
					
					<h2><%= event.name %></h2>
					
					<p>
				        <%= event.description %>
					</p>
					<h5 class="main-title"></h5>
					<div class="row merged10">
						
                        <% if( event){ %>

							<div class="col-6">
                               
								<img style=" border: 1px solid #ddd;
								border-radius: 4px;
								padding: 5px;
								width: 800px;border-radius: 50%;" src= "/uploads/<%= event.img[0] %>" alt="">
							</div>
						
                            <% } %>

					</div>
					<div><p>
						<%= event.description %>
					</p></div>
					
					
					<a class="prv" href="<%= event.websiteURL %>" title=""> Join Now <i class="lni lni-arrow-right"></i></a>
				</div>
			</div>
		</div>
	</section>
  
  <!-- crosel content -->